@model TutoringMarket.WebIdentity.Models.ViewModels.CommentTutorModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-default" role="navigation" style="background-color:#313131">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfebörse</a>
    </div>

    <div style="margin-top: 15px;" class="collapse navbar-collapse" id="navbar-collapse-x">
        <ul class="nav navbar-nav navbar-right">
            <li data-toggle="collapse" data-target="#navbar-collapse.in">@await Html.PartialAsync("_LoginPartial")</li>
        </ul>
        <ul>
            @if (ViewContext.HttpContext.User.IsInRole("Admin"))
            {
                <li style="margin-left: -15px; margin-top: -15px;"><a asp-action="AdministrationArea">Administrationsbereich</a></li>
            }
            <li style="margin-left: -15px; margin-top: -15px;"><a asp-action="Contact">Kontaktier uns</a></li>
        </ul>
    </div>
</nav>

<body>

    <h1 class="page-header">Ausstehende Tutoren</h1>
    <form asp-action="CommentTutorFilter">
        <div class="col-md-6 col-sm-6" id="blackFilter1">
            <h3 id="h3filterFach">Fach</h3>

            <select asp-for="@Model.SelectedSubject" asp-items="@Model.Subjects"></select>
            <input class="btn btn-default" style="margin-bottom:5px; margin-top:5px; padding: 0px 5px 0px 5px;" type="submit" value="Filtern" />
        </div>
    </form>
    <p style="color:red; margin-left: 20px;">@Html.ValidationMessage("Error")</p>
    
    
    @foreach (var item in Model.OutstandingTutors)
    {
        <form asp-action="CommentTutor">
            <div class="teacher">
                <div class="indexImage" style="background-image: url(@String.Format("data:image/jpg;base64,{0}", item.Image))"></div>
                <center><h3 class="h3border">@item.FirstName @item.LastName</h3></center>
                <label>E-mail:</label> @item.EMail <br />
                <label>Handynummer:</label> @item.PhoneNumber<br />
                <label>Abteilung:</label> @item.Department.Name <br />
                <label>Klasse:</label> @item.Class.Name <br />
                <label>Geburtstag:</label> @item.Birthday.ToString("d") <br />
                <label>Termine:</label> @item.Time <br />
                <label>Preis:</label> @item.Price €<br />
                <label>Fächer:</label>
                @foreach (var item2 in item.Subjects)
                    {
                    <div style="display:inline;">@item2.Name ;</div>
                }   <br />
                <label>Beschreibung:</label> @item.Description <br />
                <label>Kommentare von Lehrern:</label><br />
                @foreach (var comment in item.Comments)
                    {
                    <div style="display:inline;">@comment.Comment von @comment.TeacherIdentityName<br /></div>
                }
                <br />

                Hier Ihren Kommentar einfügen:
                <input type="text" asp-for="@Model.Comment" />
                <input class="btn btn-default" value="Speichern" type="submit" onclick="return confirm('Wollen Sie diesen Kommentar zum Tutor \'@item.FirstName @item.LastName\' wirklich speichern?');" />
                <input type="hidden" asp-for="@Model.Tutor_Id" value="@item.Id" />
                <input type="hidden" asp-for="@Model.SelectedSubject" />
            </div>
        </form>
    }
</body>