@model TutoringMarket.WebIdentity.Models.ViewModels.CommentTutorModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <h1>Ausstehende Tutoren</h1>
@Html.ValidationMessage("Error")
        @foreach (var item in Model.OutstandingTutors)
        {
            @using (Html.BeginForm("/Home/CommentTutor"))
            {
                <tr>
                    <td>@item.FirstName </td>
                    <td>@item.LastName </td>
                    <td>@item.Class.Name </td>
                    <td>
                        @foreach (var sub in item.Subjects)
                        {
                            @sub.Name
                        }
                    </td>
                    <td>Abgegebene Kommentare:</td>
                    <td>
                        @foreach (var c in item.Comments)
                        {
                            @c.Comment
                            @c.TeacherIdentityName
                        }
                    </td>
                    <td>Hier Ihren Kommentar einfügen:</td>
                    <td><input type="text" asp-for="@Model.Comment" /></td>
                    <td><input value="Speichern" type="submit" onclick="return confirm('Wollen Sie diesen Kommentar zum Tutor \'@item.FirstName @item.LastName\' wirklich speichern?');"/>
                        <input type="hidden" asp-for="@Model.Tutor_Id" value="@item.Id"/></td>
                </tr>
                }
            }
    </table>
<a class="btn btn-default" asp-action="Index">Zurück</a>
