@model TutoringMarket.WebIdentity.Models.ViewModels.CommentTutorModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<form asp-action="CommentTutor">
    <h1>Ausstehende Tutoren</h1>
    <table>
        @for (int i = 0; i < Model.OutstandingTutors.Count; i++)
        {
            <tr>
                <td>@Model.OutstandingTutors[i].FirstName </td>
                <td>@Model.OutstandingTutors[i].LastName </td>
                <td>@Model.OutstandingTutors[i].Class.Name </td>
                <td>
                    @foreach (var sub in @Model.OutstandingTutors[i].Subjects)
                    {
                        @sub.Name
                    }
                </td>
                <td>Abgegebene Kommentare:</td>
                <td>
                    @foreach (var c in @Model.OutstandingTutors[i].Comments)
                    {
                        @c
                    }
                </td>
                <td>Hier Ihren Kommentar einfügen:</td>
                <td><input type="text" asp-for="@Model.Comments[i]" /></td>
                <td><input value="Speichern" type="submit" onclick="return confirm('Wollen Sie diesen Kommentar wirklich speichern?');" /></td>
            </tr>
        }
        @foreach (var item in Model.NewComments)
        {
            <tr>
                <td>@item.Tutor.FirstName </td>
                <td>@item.Tutor.LastName </td>
                <td>@item.Tutor.Class.Name </td>
                <td>
                    @foreach (var sub in item.Tutor.Subjects)
                    {
                        @sub.Name
                    }
                </td>
                <td>Abgegebene Kommentare:</td>
                <td>
                    @foreach (var c in item.Tutor.Comments)
                    {
                        @c
                    }
                </td>
                <td>Hier Ihren Kommentar einfügen:</td>
                <td><input type="text" asp-for="@item.Comment" /></td>
                <td><input value="Speichern" type="submit" /></td>
            </tr>
        }
    </table>
</form>
    <a class="btn btn-default" asp-action="Index">Zurück</a>
*@