@model TutoringMarket.WebIdentity.Models.ViewModels.EditMetadataModel
    @*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Metadaten bearbeiten</h1>
<form asp-action="EditDepartments">

        <h3>Abteilungen</h3>
        <table>
            <tr>
                <td>Neue Abteilung hinzufügen:</td>
                <td><input type="text" asp-for="@Model.NewDepartment.Name" /></td>
                <td><input type="submit" value="Hinzufügen" /></td>
                <td><span asp-validation-for="@Model.NewDepartment.Name"></span></td>
            </tr>
            @foreach (var item in Model.Departments)
            {
            <tr>
                <td>@item.Name</td>
                
                <td><a asp-action="EditDepartmentsDelete" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie die Abteilung @item.Name wirklich löschen?');">Löschen</a></td>
            </tr>
            }

        </table>

</form>
<form asp-action="EditClasses">

    <h3>Klassen</h3>
    <table>
        <tr>
            <td>Neue Klasse hinzufügen:</td>
            <td><input type="text" asp-for="@Model.NewClass.Name" /></td>
            <td><input type="submit" value="Hinzufügen" /></td>
            <td><span asp-validation-for="@Model.NewClass.Name"></span></td>
        </tr>
        @foreach (var item in Model.Classes)
            {
            <tr>
                <td>@item.Name</td>

                <td><a asp-action="EditClassesDelete" asp-route-id="@item.Id" onclick="return confirm('Wollen die Klasse @item.Name wirklich löschen?');">Löschen</a></td>
            </tr>
        }

    </table>

</form>
<form asp-action="EditSubjects">

    <h3>Fächer</h3>
    <table>
        <tr>
            <td>Neues Fach hinzufügen:</td>
            <td><input type="text" asp-for="@Model.NewSubject.Name" /></td>
            <td><input type="submit" value="Hinzufügen" /></td>
            <td><span asp-validation-for="@Model.NewSubject.Name"></span></td>
        </tr>
        @foreach (var item in Model.Subjects)
            {
            <tr>
                <td>@item.Name</td>

                <td><a asp-action="EditSubjectsDelete" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie das Fach @item.Name wirklich löschen?');">Löschen</a></td>
            </tr>
        }

    </table>
    <a class="btn btn-default" asp-action="AdministrationArea">Zurück</a>
</form>