@model TutoringMarket.WebIdentity.Models.ViewModels.EditTutorsModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!--<form asp-action="EditTutors">-->
    <h1>Ausstehende Tutoren</h1>
    <table>
        @foreach (var item in Model.OutstandingTutors)
        {
            <tr>
                <td>@item.FirstName </td>
                <td>@item.LastName </td>
                <td>@item.Class.Name </td>
                <td>
                    @foreach (var sub in item.Subjects)
                    {
                        @sub.Name
                    }
                </td>
                <td><a asp-action="EditTutorsAccept" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie den Tutor \'@item.FirstName @item.LastName\' wirklich akzeptieren?');">Akzeptieren</a></td>
                <td><a asp-action="EditTutorsDelete" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie den Tutor \'@item.FirstName @item.LastName\' wirklich löschen?');">Löschen</a></td>
            </tr>
        }
    </table>
    @*<h1>Tutoren bearbeiten</h1>
    <table>
        
        @foreach (var item in Model.Tutors)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td><a asp-action="DeleteTutor" asp-route-id="@item" onclick="return confirm('Wollen Sie diesen Tutor wirklich löschen?');">Löschen</a></td>
            </tr>
            
            @foreach (var sub in @item.Tutor_Subjects)
            {
                <tr>
                    <td>@sub.Subject_Id</td>
                </tr>
            }
        }
    </table>*@

    <a class="btn btn-default" asp-action="AdministrationArea">Zurück</a>
<!--</form>-->
