@model TutoringMarket.WebIdentity.Models.ViewModels.EditReviewsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<nav class="navbar navbar-default" role="navigation" style="background-color:#313131">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfebörse</a>
    </div>

    <div style="margin-top: 15px;" class="collapse navbar-collapse" id="navbar-collapse-x">
        <ul class="nav navbar-nav navbar-right">
            <li data-toggle="collapse" data-target="#navbar-collapse.in">@await Html.PartialAsync("_LoginPartial")</li>
        </ul>
        <ul>
            <li style="margin-left: -15px; margin-top: -15px;"><a asp-action="AdministrationArea">Administrationsbereich</a></li>
        </ul>
    </div>
</nav>
<form asp-action="EditReviews">
    <h3>Ausstehende Bewertungen:</h3>
    <table>
        @foreach (var item in Model.Reviews)
        {
            <tr>
                <td>@item.Books</td>
                <td>@item.Comment</td>
                <td>@item.Tutor.LastName, @item.Tutor.FirstName</td>
                <td><a asp-action="EditReviewsAccept" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie den Kommentar \'@item.Comment\' wirklich akzeptieren?');">Akzeptieren</a></td>
                <td><a asp-action="EditReviewsDelete" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie den Kommentar \'@item.Comment\' wirklich löschen?');">Löschen</a></td>
            </tr>
        }
    </table>
    <a class="btn btn-default" asp-action="AdministrationArea">Zurück</a>
    <h3>Bereits veröffentlichte Bewertungen:</h3>
    <table>
        @foreach (var item in Model.AllReviews)
        {
            <tr>
                <td>@item.Books</td>
                <td>@item.Comment</td>
                <td>@item.Tutor.LastName, @item.Tutor.FirstName</td>
                <td><a asp-action="EditReviewsDeleteReviewAfterwards" asp-route-id="@item.Id" onclick="return confirm('Wollen Sie den Kommentar \'@item.Comment\' wirklich entfernen?');">Entfernen</a></td>
            </tr>
        }
    </table>
</form>


