@model TutoringMarket.WebIdentity.Models.ViewModels.GetTutorModel
@{
    ViewData["Title"] = "GetTutor";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Nachhilfebörse</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="mycss.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">
    <div class="navbar-fixed-top" style="background-color:#313131">
        <div class="navbar-collapse collapse">
            <ul>
                <li><a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfebörse</a></li>
                <!--  <li><a asp-area="" asp-controller="Home" asp-action="Contact" class="selected">Kontaktiere uns</a></li> -->
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </div>
</head>

<body>
    <div align="center">
        <form class="anfrageForm" accept-charset="UTF-8" asp-action="GetTutor">

            <div style="width:10.5cm">
                <label>@Model.Tutor.FirstName</label>
                <input type="hidden" asp-for="@Model.Tutor.FirstName" />
                <br />
            </div>
        <h1 class="page-header">Orascanin Danijal werde auch du Nachhilfelehrer</h1>
        <div id="irwos2">
            <center>
                <h1 id="quote">
                    We cant help everyone, but everyone can help someone.
                </h1>
            </center>
        </div>
        <table id="getTutor">
            <form class="anfrageForm" accept-charset="UTF-8" asp-action="GetTutor">
                <tr>           
                    <td style="padding-right:10px;">
                        <div style="width:7.5cm">
                            <label asp-for="@Model.Tutor.Birthday"></label>
                            <input type="date" placeholder="Geburtstag*" class="form-control" asp-for="@Model.Tutor.Birthday">
                            <span asp-validation-for="@Model.Tutor.Birthday" class="text-danger"></span>
                            <br />
                        </div>                


            <div style="width:10.5cm">
                <label>@Model.Tutor.LastName</label>
                <input type="hidden" asp-for="@Model.Tutor.LastName" />
                <br />
            </div>
                        <div style="width:7.5cm">
                            <label>E-mail</label>
                            <input type="text" placeholder="E-Mail*" class="form-control" asp-for="@Model.Tutor.EMail">
                            <span asp-validation-for="@Model.Tutor.EMail" class="text-danger"></span>
                            <br />
                        </div>

                        <div style="width:7.5cm">
                            <label>Handynummer</label>
                            <input type="text" placeholder="Handynummer" class="form-control" asp-for="@Model.Tutor.PhoneNumber">
                            <span asp-validation-for="@Model.Tutor.PhoneNumber" class="text-danger"></span>
                            <br />
                        </div>


                        <div style="width:7.5cm">
                            <label asp-for="@Model.Tutor.Price">Stundensatz in €/h</label>
                            <input type="number" placeholder="Preis*" class="form-control" asp-for="@Model.Tutor.Price" step="1">
                            <span asp-validation-for="@Model.Tutor.Price" class="text-danger"></span>
                            <br />
                        </div>

                        <div style="width:7.5cm">
                            <label>Fächer</label>
                            <select asp-items="@Model.AvailableSubjects" asp-for="@Model.SelectedSubjects"></select>
                            <span asp-validation-for="@Model.SelectedSubjects" class="text-danger"></span>
                        </div>
                    </td>


                    <td>
                        <div style="width:7.5cm">
                            <label asp-for="@Model.Tutor.Time"></label>
                            <textarea type="text" placeholder="z.B.: Montag 12-14 Uhr und Mittowch 15-17 Uhr" class="form-control2" asp-for="@Model.Tutor.Time"></textarea>
                            <span asp-validation-for="@Model.Tutor.Time" class="text-danger"></span>
                            <br />
                        </div>

                        <div style="width:7.5cm">
                            <label>Beschreibung</label>
                            <textarea type="text" placeholder="Motivationsspruch / Beschreibung" class="form-control2" asp-for="@Model.Tutor.Description"></textarea>

                            <span asp-validation-for="@Model.Tutor.Description" class="text-danger"></span>
                        </div>
                        <br />
                        <div style="width:7.5cm">
                            <label asp-for="@Model.Tutor.Gender"></label>
                            <select asp-items="@Model.Gender" asp-for="@Model.Tutor.Gender"></select>
                        </div>
                        <label>Abteilung: Informatik ; Klasse: 4Ahif</label>
                        
                        <footer>
                            <input type="submit" class="myButton" value="Einreichen" />
                            <a class="myButton" asp-action="Index">Zurück</a>
                        </footer>
                    </td>
                </tr>
                    <p class="test">Motivationsspruch / Beschreibung</p>
                    <span asp-validation-for="@Model.Tutor.Description" class="text-danger"></span>
                </div>
            <div style="width:10.5cm">
                <br />
                <select asp-items="@Model.AvailableSubjects" asp-for="@Model.SelectedSubjects" ></select>
                <span asp-validation-for="@Model.SelectedSubjects" class="text-danger"></span>
                <label>Bitte halte die Steuerungstaste (Controltaste) gedrückt, wenn du mehrere Fächer auswählen willst</label>
               
            </div>

                <label for="file">Upload Image:</label>
                <input type="file" name="file" id="file" style="width: 100%;"/>
                <!--<input type="submit" value="Upload" class="submit" />-->
                <br />
                <br />
                <footer>
                    <input type="submit" class="myButton" value="Einreichen" />
                    <a class="btn btn-default" asp-action="Index">Zurück</a>
                </footer>

            </form>
        </table>
    </div>
</body>