@model TutoringMarket.WebIdentity.Models.ViewModels.IndexModel
@{
    ViewData["Title"] = "Index";
}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Nachhilfebörse</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="mycss.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="starter-template.css" rel="stylesheet">

</head>

<body style="background-color:#E8E8E8;">

    <div class="navbar-fixed-top" style="background-color:#313131">
        <div class="navbar-collapse collapse">
            <ul>
                <a style="color: white;" class="navbar-brand">Nachhilfebörse</a>
                <li><a asp-area="" asp-controller="" asp-action="Login">Log In</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontaktiere uns</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="Index" class="selected">Index</a></li>
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </div>

    <div class="greenBack">
        <h1 class="index">
            Liste
            <em class="index">aller Lehrer</em>
        </h1>

        <div>
            <button style="float:right;" class="teacherButton" type="button"
                    onclick="location.href='@Url.Action("GetTutor", "Home")'">
                Werde auch du Lehrer
            </button>
        </div>

    </div>

    <div class="whiteBox">

        @foreach (var item in @Model.Tutors)
        {
            <div class="teacher">
                <h4 style="text-align: center;">@item.FirstName @item.LastName</h4>
            </div>
        }

    </div>
    <form asp-action="index">
        <div id="blackFilter1">
            <h3 id="filterFach">Fach</h3>
            <input asp-for="@Model.SortText" type="submit" value="Schulstufe" />
            <input asp-for="@Model.SortText" type="submit" value="Geld" />
            <input type="hidden" asp-for="SortTextBefore" />
            @Html.HiddenFor(t => t.SortTextBefore)
        </div>
    </form>

        </body>
