@model TutoringMarket.WebIdentity.Models.ViewModels.StatisticsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<nav class="navbar navbar-default" role="navigation" style="background-color:#313131">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle x collapsed" data-toggle="collapse" data-target="#navbar-collapse-x">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfeb&ouml;rse</a>
    </div>

    <div style="margin-top: 15px;" class="collapse navbar-collapse" id="navbar-collapse-x">
        <ul class="nav navbar-nav navbar-right">
            <li data-toggle="collapse" data-target="#navbar-collapse.in">@await Html.PartialAsync("_LoginPartial")</li>
        </ul>
        <ul>
            <li style="margin-left: -15px; margin-top: -15px;"><a asp-action="AdministrationArea">Administrationsbereich</a></li>
        </ul>
    </div>
</nav>
<div>
    <label>Abteilung mit den meisten Tutoren: @Model.DepartmentWithMostTutors</label> <br />
    <label>Anzahl an Tutoren gesamt: @Model.TutorsCount</label> <br />
    <label>Tutoren mit Bild: @Model.TutorsWithImagePercentage %</label> <br /> <br />
    <label>Anzahl an Bewertungen (gesamt): @Model.ReviewsCount</label> <br />
    <label>Durchschnittswert aller Bewertungen: @Model.ReviewsAverage</label> <br />
    <label>Durchschnittsanzahl an Bewertungen pro Tutor: @Model.ReviewPerTutor</label> <br /> <br />
    <label>Anzahl der versendeten Anfragen: @Model.RequestCount</label> <br />
    <label>Klassen, die am meisten Anfragen versendet haben (Top 5):</label> <br />
    <ol>
        @foreach (var item in Model.TopFiveRequestingClasses)
        {
            <li>@item.Name</li>
            <br />
        }
    </ol> <br />
    @if (Model.MostRequestedTutor.FirstName == null || Model.MostRequestedTutor.LastName == null || Model.MostRequestedTutor.Class == null)
    {
        <label>Tutor, der am öftesten angefragt wird: - </label> <br />
    }
    else  
    {
        <label>Tutor, der am öftesten angefragt wird: @Model.MostRequestedTutor.FirstName @Model.MostRequestedTutor.LastName, @Model.MostRequestedTutor.Class.Name </label> <br />
    }
    <label>Lehrer, der die meisten Kommentarre abgegeben hat: @Model.TeacherWithMostComments</label> <br />
</div>
<div id="tutorsPerClassChartContainer" style="width: 45%; height: 300px;display: inline-block;">
    <h2>Tutoren pro Klasse</h2>
        <ol>
        @foreach (var item in Model.TutorsPerClass)
        {
            <li>@item.Label: @item.Y</li>
            <br />
        }
    </ol> <br />
</div>
<div id="tutorsPerGenderChartContainer" style="width: 45%; height: 300px;display: inline-block;">
    <h2>Tutoren pro Geschlecht</h2>
    <ol>
        @foreach (var item in Model.TutorsPerGender)
        {
            <li>@item.Label: @item.Y</li>
            <br />
        }
    </ol> <br />
</div>
<div id="monthsWithRequestsChartContainer" style="width: 45%; height: 300px;display: inline-block;">
    <h2>Anfragen pro Monat</h2>
    <ol>
        @foreach (var item in Model.MonthsWithRequests)
        {
            <li>@item.Label: @item.Y</li>
            <br />
        }
    </ol> <br />
</div>
<div id="requestsOnTutorWithImageChartContainer" style="width: 45%; height: 300px;display: inline-block;">
    <h2>Anfragen an Tutoren mit Bild</h2>
    <ol>
        @foreach (var item in Model.RequestsOnTutorsWithImage)
        {
            <li>@item.Label: @item.Y %</li>
            <br />
        }
    </ol> <br />
</div>
<div id="acceptedTutorsChartContainer" style="width: 45%; height: 300px;display: inline-block;">
    <h2>Akzeptierte Tutoren</h2>
    <ol>
        @foreach (var item in Model.AcceptedTutors)
        {
            <li>@item.Label: @item.Y</li>
            <br />
        }
    </ol> <br />
</div>
<div id="acceptedReviewsChartContainer" style="width: 45%; height: 300px;display: inline-block;">
    <h2>Akzeptierte Bewertungen</h2>
    <ol>
        @foreach (var item in Model.AcceptedReviews)
        {
            <li>@item.Label: @item.Y</li>
            <br />
        }
    </ol> <br />
</div>