@model TutoringMarket.WebIdentity.Models.ViewModels.StatisticsModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div id="tutorsPerClassChartContainer"></div>
<div id="tutorsPerGenderChartContainer"></div>
<div>
    <label>Abteilung mit den meisten Tutoren: @Model.DepartmentWithMostTutors</label>
    <label>Anzahl an Tutoren gesamt: @Model.TutorsCount</label>
    <label>Tutoren mit Bild: @Model.TutorsWithImagePercentage %</label>
</div>
<script type="text/javascript">

    window.onload = function () {
        var tutorperclasschart = new CanvasJS.Chart("tutorsPerClassChartContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Tutoren pro Klasse"
            },
            data: [
                {                    type: "column",
                    dataPoints:  @Html.Raw(ViewBag.TutorsPerClassDataPoints)
}
]
});
        tutorperclasschart.render();
                var tutorspergenderchart = new CanvasJS.Chart("tutorsPerClassGenderContainer", {
            theme: "theme2",
            animationEnabled: true,
            title: {
                text: "Tutoren pro Geschlecht"
            },
            data: [
                {                    type: "pie",
                    dataPoints:  @Html.Raw(ViewBag.TutorsPerGenderDataPoints)
}
]
});
        tutorspergenderchart.render();
};
</script>