@model TutoringMarket.WebIdentity.Models.ViewModels.TutorModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Tutor-Details</h1>
<label>@Model.Tutor.FirstName</label>
<label>@Model.Tutor.LastName</label>
<label>@Model.Average</label>
<!--<p>Fächer</p>
foreach (var item in Model.Tutor.Tutor_Subjects)
{
    <p>item.Subject.Name</p>
}-->
<p>@Model.Tutor.Class.Name</p>
<p>@Model.Tutor.Department.Name</p>
<p>@Model.Tutor.Description</p>
<p>@Model.Tutor.EMail</p>
<p>@Model.Tutor.Gender</p>
<p>@Model.Tutor.Id</p>
<p>@Model.Tutor.PhoneNumber</p>
<p>@Model.Tutor.Price</p>
<p>@Model.Tutor.Time</p>
<table>
    @foreach (var item in Model.Reviews)
    {
        <tr>
            <td>@item.Comment</td>
            <td>@item.Books</td>   
         </tr>
    }
</table>
<a class="btn btn-default" asp-action="Index">Zurück</a>

    