@model TutoringMarket.WebIdentity.Models.ViewModels.TutorModel

@{
    ViewData["Title"] = "Nachhilfebörse";
}
<head>
    <div class="navbar-fixed-top" style="background-color:#313131">
        <div class="navbar-collapse collapse">
            <ul>
                <li><a style="color: white;" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Nachhilfebörse</a></li>
                <!--          <li><a asp-area="" asp-controller="Home" asp-action="Contact">Kontaktiere uns</a></li> -->
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </div>
    </div>

</head>
<body>
    <h1 class="page-header">@Model.Tutor.FirstName @Model.Tutor.LastName</h1>

    <!--<p>Fächer</p>
    foreach (var item in Model.Tutor.Tutor_Subjects)
    {
        <p>item.Subject.Name</p>
    }-->
    <div align="center">
        <p><label>Klasse:</label> @Model.Tutor.Class.Name</p>
        <p><label>Abteilung:</label> @Model.Tutor.Department.Name</p>
        <p><label>E-mail:</label> @Model.Tutor.EMail</p>
        <p><label>Geschlecht:</label> @Model.Tutor.Gender</p>
        <p><label>Handynummer:</label> @Model.Tutor.PhoneNumber</p>
        <p><label>Preis /h:</label> @Model.Tutor.Price€</p>
        <p><label>Termine:</label> @Model.Tutor.Time</p>

        <p>
            <label>Fächer:</label>
            @foreach (var item in Model.Subjects)
            {
                <td> @item.Name </td>
            }
        </p>
        <p><label>Beschreibung:</label> @Model.Tutor.Description</p>
        <a class="btn btn-default" asp-action="Index">Zurück</a>
    </div>
</body>




    